{{ template "partials/header" . }}
<main class="drac-p-md">
  <form hx-post="/login">
    <input
      id="username"
      name="username"
      placeholder="Username"
      type="text"
      class="drac-input drac-input-white drac-text-white drac-mb-sm"
    />
    <input
      id="password"
      name="password"
      placeholder="Password"
      type="password"
      class="drac-input drac-input-white drac-text-white drac-mb-sm"
    />
    <button type="submit" class="drac-btn drac-bg-purple-cyan drac-mb-sm">
      Login
    </button>
    <a
      href="/register"
      class="drac-btn drac-bg-purple drac-btn-outline drac-text-purple"
    >
      Register
    </a>
  </form>
</main>
