{{ template "partials/header" . }}
<main class="drac-p-md">
  <form hx-post="/register">
    <input
      id="username"
      name="username"
      placeholder="Username"
      type="text"
      class="drac-input drac-input-white drac-text-white drac-mb-sm"
    />
    <input
      id="password"
      name="password"
      placeholder="Password"
      type="password"
      class="drac-input drac-input-white drac-text-white drac-mb-sm"
    />
    <input
      id="confirm-password"
      name="confirm-password"
      placeholder="Confirm Password"
      type="password"
      class="drac-input drac-input-white drac-text-white drac-mb-sm"
    />
    <button class="drac-btn drac-bg-purple-cyan drac-mb-sm" type="submit">
      Register
    </button>
    <a
      href="/login"
      class="drac-btn drac-bg-purple drac-btn-outline drac-text-purple"
    >
      Login
    </a>
  </form>
</main>
