{{ template "partials/header" . }}
<main class="drac-p-md">
  <input
    placeholder="Username"
    type="text"
    class="drac-input drac-input-white drac-text-white drac-mb-sm"
  />
  <input
    placeholder="Password"
    type="password"
    class="drac-input drac-input-white drac-text-white drac-mb-sm"
  />
  <input
    placeholder="Confirm Password"
    type="password"
    class="drac-input drac-input-white drac-text-white drac-mb-sm"
  />
  <button class="drac-btn drac-bg-purple-cyan drac-mb-sm">Register</button>
  <a href="/login" class="drac-btn drac-bg-purple drac-btn-outline drac-text-purple">
    Login
  </a>
</main>
