<form id="login-form" hx-post="/login">
  <input
    id="email"
    name="email"
    placeholder="Email"
    type="email"
    class="drac-input drac-input-white drac-text-white drac-mb-sm"
    required
  />
  <input
    id="password"
    name="password"
    placeholder="Password"
    type="password"
    class="drac-input drac-input-white drac-text-white drac-mb-sm"
    required
  />
  <button
    type="submit"
    class="drac-btn drac-bg-purple-cyan drac-mb-sm"
    hx-indicator="#indicator"
  >
    Login
  </button>
  <button
    hx-get="/register"
    hx-target="#login-form"
    hx-swap="outerHTML"
    class="drac-btn drac-bg-purple drac-btn-outline drac-text-purple"
  >
    Register
  </button>
  <div id="indicator" class="htmx-indicator">Logging in...</div>
</form>
